 <script>
    function logout() {
        $.removeCookie('mytoken', { path: '/' });
        alert('Signed out!');
        window.location.href = "/login";
    }

  </script>
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand py-0" href="/">
            <img src="{{ url_for('static', filename='misc/logo.svg') }}" alt="Logo" height="65" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="ms-auto ">
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ url_for('produk')}}">Pembelian Obat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ url_for('forum')}}">Forum Bertanya</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ url_for('artikel')}}">Artikel Kesehatan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ url_for('hubungi')}}">Hubungi Kami</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Halo, {{user_info.username}}
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profil/{{ user_info.username }}">Pengaturan Profil</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('riwayat_pesanan')}}">Riwayat Pembelian</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('riwayat_forum')}}">Riwayat Forum</a></li>
                            <li><a class="dropdown-item" onclick="logout()" href="">Logout</a></li>
                        </ul>
                    </li>
                </div>
            </div>

        </div>
    </div>
</nav>