<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthyConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="{{ url_for('static', filename='user/style.css') }}" rel="stylesheet">
</head>

<script>
    function is_username(asValue) {
        var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,20}$/;
        return regExp.test(asValue);
    }

    function sign_up() {
        let username = $("#username").val();
        let nama_lengkap = $("#nama_lengkap").val();
        let password = $("#password").val();
        let password2 = $("#confirmpassword").val();
        let admin_key = $("#adminkey").val();


        if (username === "") {
            $("#username").addClass("is-invalid");
            $("#help_username1")
                .text("Tolong Masukkan Username Anda")
            $("#username").focus();
            return;
        }
        else {
            $("#username").removeClass("is-invalid");
        }

        if (!is_username(username)) {
            $("#username").addClass("is-invalid");
            $("#help_username1").text("Mohon cek username Anda. Gunakan 2-10 karakter bahasa Inggris, angka, atau karakter khusus (._-)")
            $("#username").focus();
            return;
        }



        if (nama_lengkap === "") {
            $("#nama_lengkap").addClass("is-invalid");
            $("#nama_lengkap").focus();
            return;
        }
        else {
            $("#nama_lengkap").removeClass("is-invalid");
        }

        if (password === "") {
            $("#password").addClass("is-invalid");
            $("#password").focus();
            return;
        }
        else {
            $("#password").removeClass("is-invalid");
        }


        if (password2 === "") {
            $("#confirmpassword").addClass("is-invalid");
            $("#help_pw2")
                .text("Tolong Masukkan Konfirmasi Password")
            $("#confirmpassword").focus();
            return;
        } else if (password2 !== password) {
            $("#confirmpassword").addClass("is-invalid");
            $("#help_pw2")
                .text("Konfirmasi Password Tidak Sesuai")
            $("#confirmpassword").focus();
            return;
        }
        else {
            $("#confirmpassword").removeClass("is-invalid");
        }

        if (admin_key === "") {
            $("#adminkey").addClass("is-invalid");
            $("#help_adminkey1")
                .text("Tolong masukkan kunci rahasia yang diberikan admin")
            $("#adminkey").focus();
            return;
        }
        else {
            $("#adminkey").removeClass("is-invalid");
        }

        $.ajax({
            type: "POST",
            url: "/admin_signup",
            data: {
                username: username,
                nama_lengkap: nama_lengkap,
                password: password,
                admin_key: admin_key
            },
            success: function (response) {
                if (response["result"] === "success") {
                    alert("Pendaftarann Admin Sukses!");
                    window.location.href = "/login";
                } else if (response["result"] === "error_uname") {
                    $("#username").addClass("is-invalid");
                    $("#help_username1")
                        .text("Username sudah terdaftar")
                }
                else {
                    $("#adminkey").addClass("is-invalid");
                    $("#help_adminkey1")
                        .text("Kunci rahasia yang anda masukkan salah")
                    $("#adminkey").focus();
                }
            },
        });
    }


    function bersih() {
        $("#username").val('');
        $("#nama_lengkap").val('');
        $("#password").val('');
        $("#confirmpassword").val('');
        $("#adminkey").val('');
    }
</script>


<body class="login-banner">
    {% if user_info %}
    {% if user_info.role == 'admin' %}
        {% include 'navbar_check/navbar_admin.html' %}
    {% elif user_info.role == 'member' %}
        {% include 'navbar_check/navbar_member.html' %}
    {% endif %}
    {% else %}
    {% include 'navbar_check/navbar_viewer.html' %}
    {% endif %}

    <section class="h-100 d-flex align-items-center my-5" style="min-height:100vh;">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-12 col-md-8 col-lg-5">
                    <div class="card shadow-lg border-0">
                        <!-- <img src="https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/WORKPLACEV9CMS/2bgqjhmw_0iifqf_p8twtq.jpg"
                            class="card-img-top" alt="..."> -->
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Admin Registration</h1>
                            <div id="wrapper-alert">

                            </div>
                            <div>
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="email">Username</label>
                                    <input id="username" type="text" class="form-control" pattern="^\S+$" name="email"
                                        value="" required autofocus>
                                    <div id="help_username" class="invalid-feedback">
                                        <p id="help_username1"></p>
                                    </div>
                                </div>

                                <div id="boxnama" class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="nama_lengkap">Nama Lengkap</label>
                                    </div>
                                    <input id="nama_lengkap" type="text" class="form-control" name="nama_lengkap"
                                        required>
                                    <div id="help_nama" class="invalid-feedback">
                                        Tolong masukkan nama lengkap anda
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="password">Password</label>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password" required>
                                    <div id="help_pw1" class="invalid-feedback">
                                        Tolong masukkan password anda
                                    </div>
                                </div>

                                <div id="sign-up-box">
                                    <div class="mb-3">
                                        <div class="mb-2 w-100">
                                            <label class="text-muted" for="password">Confirm Password</label>
                                        </div>
                                        <input id="confirmpassword" type="password" class="form-control"
                                            name="confirmpassword" required>
                                        <div class="invalid-feedback">
                                            <p id="help_pw2"></p>
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="adminkey">Admin Key (Kunci Rahasia Khusus
                                            Admin)</label>
                                    </div>
                                    <input id="adminkey" type="text" class="form-control" name="adminkey" required>
                                    <div id="help_adminkey" class="invalid-feedback">
                                        <p id="help_adminkey1"></p>
                                    </div>
                                </div>


                                <div id="sign-up-btn" class="d-flex gap-2">
                                    <button type="button" class="btn btn-primary flex-fill text-white"
                                        onclick="sign_up()">Sign Up</button>
                                    <button type="button" class="btn btn-outline-primary flex-fill"
                                        onclick="bersih()">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-3 border-0">
                            <div id="create1" class="text-center">
                                Sudah Punya Akun? <a href="{{ url_for('login')}}" class="text-dark">Klik
                                    Disini!</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <footer class="copyright">
        <div class="container py-2">
            <p class="text-center my-3">Copyright © by Kelompok 3</p>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>